
@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Ürünler</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>İşlemler</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.ProductName</td>
            <td>@item.CategoryName</td>
            <td>@item.Price ₺</td>
            <td>
                <a href="/Admin/Product/DeleteProduct/@item.Id" class="btn btn-danger">Sil</a>
                <a href="/Admin/Product/UpdateProduct/@item.Id" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }
</table>
<br />
<a href="/Admin/Product/CreateProduct" class="btn btn-primary">Ekle</a>
